.add_products_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--main-color);
    max-width: 30rem;
    min-width: 30rem;
    min-height: 40rem;
    max-height: 40rem;
    margin: auto;
}
.edit_products_contaienr {
    display: flex;
    max-width: 30rem;
    min-width: 30rem;
    min-height: 40rem;
    max-height: 40rem;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--main-color);
    margin: auto;
}
.admin_layout {
    display: flex;
    flex-direction: row;
    min-height: 100vh;
    width: 100%;
    justify-content: space-around;
    background-color: var(--secondary-color);
}