.klubb_section {
    min-height: 100vh;
    background-color: var(--secondary-color);
    z-index: 20;
    height: fit-content;
    box-shadow: 1px 2px 6px 1px #000;
}
.video-responsive {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 0;
  display: flex;
  justify-content: center;
}

.video-responsive iframe {
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
  max-height: 29rem;
  max-width: 54rem;
  margin: auto;
}
.klubb_backgound_img {
  display: flex;
  justify-content: center;
  min-height: 18.1rem;
}
@media (max-width: 767px) {
  .klubb_backgound_img {
    display: none;
  }
}
