.klubb_section {
    min-height: 100vh;
    background-color: var(--secondary-color);
    z-index: 20;
    height: fit-content;
}
.video-responsive {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 0;
  display: flex;
  justify-content: center;
}

.video-responsive iframe {
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
  max-height: 29rem;
  max-width: 54rem;
  margin: auto;
}
