.klubb_section {
    min-height: 100vh;
    background-color: var(--secondary-color);
    z-index: 999999;
    height: fit-content;
}
.video-responsive {
    overflow: hidden;
    padding-bottom: 56.25%;
    position: relative;
    height: 0;
  }
  
  .video-responsive iframe {
    left: 0;
    top: 0;
  }
  