
.navigation {
	width: 100%;
	margin: auto;
	min-height: 50px;
	height: fit-content;
	display: flex;
	flex-direction: row-reverse;

}


.navigation ul {
	display: flex;
	flex-wrap: wrap;
	float: right;
	margin: 0px;
	padding: 0px;
	overflow: hidden;
	z-index: 1000;
	transition: all 0.3s linear;
	padding-top: 1rem;

}
.navigation ul li {
	list-style-type: none;
	padding-right: 2rem;
	color: var(--secondary-color);
	font-size: 1.2rem;
	
}
.cart_nav {
	color: var(--secondary-color);
	padding-right: 2rem;
	margin: 1rem;
}

.hamburger {
	width: 2rem;
	height: 2.6rem;
	display: flex;
	justify-content: space-around;
	flex-flow: column nowrap;
	z-index: 1000;
	box-sizing: border-box;
}
.burger {
	width: 2rem;
	height: 0.25rem;
	border-radius: 10px;
	background-color: var(--secondary-color);
	transform-origin: 1px;
	transition: all 0.3s linear;
	z-index: 100
}

