.card_image_home {
	max-height: 10rem;
}
.player_section_title {
	font-size: 36px;
	color: #2F4858;
	text-align: center;
	margin: 0%;
}
.card_container_player {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
}
.main_card {
	max-width: 450px;
	max-height: 35rem;
	display: flex;
	flex-direction: column;
	background-color: white;
	box-shadow: 1px 3px 2px 0px rgba(183,199,75,0.75);
	border: 1px solid #8C8C8C;
	border-radius: 3px;
	padding: 1rem;
	margin: auto;
	margin-right: 0.5rem;
	margin-left: 0.5rem;
	margin-bottom: 1rem;
}
