.contact_layout {
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: row;
}
.contact_left_container {
    background-image: url(../../public/localmedia/contact_img.png);
    background-size: cover;
    background-position: center center;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    z-index: 200;
    width: 50%;
    min-height: 100vh;
    box-shadow: -7px 0px 10px 5px #000;
}
.contact_right_container {
    background-color: var(--secondary-color);
    width: 50%;
    box-shadow: -7px 0px 10px 5px #000;
}
.contact_form_container {
    width: 50%;
    min-height: 100vh;
    background-color: var(--secondary-color);
}
.tilbake {
    background-color: var(--main-color);
    color: white;
    font-size: 1.4rem;
    margin: 1rem;
    height: fit-content;
    width: 7rem;
    text-align: center;
    padding: 0.5rem;
    border-radius: 3px;
    border: 2px solid var(--main-color);
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
}
.tilbake_icon {
    margin: auto;
}
.tilbake:hover {
    background-color: transparent;
    color: white;
}
.tilbake_mobile{
    display: none;
}

.contact_image_container {
    padding: 1rem;
}
.contact_title {
    color: white;
    font-size: 1.7rem;
    text-align: center;
}
.contact_side_text {
    text-align: center;
    color: white;
    font-size: 2rem;
}
.contact_input {
    width: 80%;
    height: 1.4rem;
    border: 2px solid var(--main-color);
    border-radius: 3px;
    padding: 0.5rem;
    font-size: 1.2rem;
    margin: auto;
}
.label_form {
    margin-left: 3rem;
}
.name_container {
    display: flex;
    flex-direction: column;
    color: white;
    font-size: 1.2rem;
}
.email_container {
    display: flex;
    flex-direction: column;
    color: white;
    font-size: 1.2rem;
}
.topic_container {
    display: flex;
    flex-direction: column;
    color: white;
    font-size: 1.2rem;
}
.message_container {
    display: flex;
    flex-direction: column;
    color: white;
    font-size: 1.2rem;
}
.contact_textarea {
    width: 80%;
    height: 10rem;
    border: 2px solid var(--main-color);
    border-radius: 3px;
    padding: 0.5rem;
    font-size: 1.2rem;
    margin: auto;
}
.submit_btn {
    background-color: var(--main-color);
    color: white;
    font-size: 1.2rem;
    margin: 1rem;
    height: fit-content;
    width: 15rem;
    text-align: center;
    padding: 0.5rem;
    border-radius: 3px;
    border: 2px solid var(--main-color);
    cursor: pointer;
    margin-left: 3rem;
}
.form_top{ 
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
} 
@media (max-width: 767px) {
    .contact_left_container {
        display: none;
    }
    .contact_right_container {
        width: 100%;
    }
    .label_form {
        margin-left: 0.5rem;
    }
    .submit_btn {
        margin-left: 0.5rem;
    }
    .tilbake_mobile{
        background-color: var(--main-color);
    color: white;
    font-size: 1rem;
    margin: 1rem;
    height: fit-content;
    width: 5rem;
    text-align: center;
    padding: 0.5rem;
    border-radius: 3px;
    border: 2px solid var(--main-color);
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    }
}