.contact_left_container {
    background-image: url(../../public/localmedia/contact_img.png);
    background-size: cover;
    background-position: center center;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    z-index: 200;
    width: 50%;
    min-height: 100vh;
    box-shadow: -7px 0px 10px 5px #000;
}
.contact_right_container {
    background-color: var(--secondary-color);
    width: 50%;
    box-shadow: -7px 0px 10px 5px #000;
}
.contact_form_container {
    width: 50%;
    min-height: 100vh;
    background-color: var(--secondary-color);
}
.tilbake {
    background-color: var(--main-color);
    color: white;
    font-size: 1.4rem;
    margin: 1rem;
    height: fit-content;
    width: 7rem;
    text-align: center;
    padding: 0.5rem;
    border-radius: 3px;
    border: 2px solid var(--main-color);
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
}
.tilbake_icon {
    margin: auto;
}
.tilbake:hover {
    background-color: transparent;
    color: white;
}
.contact_image_container {
    padding: 1rem;
}
.contact_title {
    color: white;
    font-size: 1.7rem;
    text-align: center;
}
.contact_side_text {
    text-align: center;
    color: white;
    font-size: 2rem;
}
@media (max-width: 767px) {
    .contact_left_container {
        display: none;
    }
    .contact_right_container {
        width: 100%;
    }
}