.product_layout {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: #ECECEC;
  min-height: 100vh;
  padding: 2rem;
}


.product_card {
display: flex;
flex-direction: column;
}
.text_container {
    display: flex;
    flex-direction: column;
    text-align: center;
    border: 1px solid var(--main-color);
    border-radius: 3px;
    max-width: 12rem;
    min-width: 12rem;
    max-height: 8rem;
    padding: 1rem;
}
.card_title {
    font-size: 1rem;
    color: var(--secondary-color);
    border-bottom: 1px solid var(--main-color);
    transform: rotateY(180deg);
    
}
.card_title_flipped {
  font-size: 1rem;
  color: var(--secondary-color);

}
.card_dimensions {
    margin: 0px;
    font-size: 1rem;
    color: var(--secondary-color);
    transform: rotateY(180deg);
}
.card_dimensions_flipped {
  font-size: 1rem;
  color: var(--secondary-color);
  
}
/* CARD STYLING*/


.card {
	height: 6rem;
  max-width: 12rem;
	font-family: arial;
}
.front {
  flex-direction: column;
	background-color: white;
}
.back {
  flex-direction: column;
	background: white;
  
}
.front, .back {
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	border: 1px solid var(--main-color);
	border-radius: 3px;
  cursor: pointer;
  padding: 1rem;
}
.back {
	transform: rotateY(180deg);
}
.card:hover, .card_title_flipped {
	transform: rotateY(180deg);
	transition-duration: 1s;
}
.card {
	transition-duration: 1s;
}
.front {
	position: absolute;
}
.card {
	transform-style: preserve-3d;
}
.back {
	/*   opacity:0.5 */
}
.front {
	width: 100%;
}