.product_layout {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: #ECECEC;
  min-height: 100vh;
  padding: 2rem;
}
.product_card {
display: flex;
flex-direction: column;
}
.cards_inner {
    display: flex;
    flex-direction: column;
    text-align: center;
    border: 1px solid var(--main-color);
    border-radius: 3px;
    max-width: 12rem;
    min-width: 12rem;
    max-height: 5rem;
    padding: 1rem;
    cursor: pointer;
}
.card_title {
    font-size: 1.3rem;
    color: var(--secondary-color);
    border-bottom: 1px solid var(--main-color);
    margin-top: 0px;
}
.card_title_flipped {
  font-size: 1rem;
  color: var(--secondary-color);

}
.card_dimensions {
    margin: 0px;
    font-size: 1rem;
    color: var(--secondary-color);
}
.card_dimensions_flipped {
  font-size: 1rem;
  color: var(--secondary-color);
  
}
.hidden {
  display: none;
}

/* CARD STYLING*/

.wrap {
  position: relative;
  width: 240px;
  height: 360px;
  margin: auto;
}

.card {
  position: absolute;
  width: 240px;
  height: 360px;
  color: #fff;
  font-size: 32px;
  font-family: sans-serif;
  transition: .3s ease all;
  backface-visibility: hidden;
  display: flex;
  box-shadow: 3px 3px 10px #333;
  border-radius: 3px;
  align-items: center;
  justify-content: center;
}

.wrap:hover .front {
  transform: rotateY(-180deg);
}

.wrap:hover .back {
  transform: rotateY(0deg);
}

.front {
  background-color: #f00b9a;
  transform: rotateY(0deg);
}

.back {
  background-color: #00e1b5;
  transform: rotateY(-180deg);
}