.Products_page {
  background-color: #ECECEC;
}
.product_layout {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
  background-color: #ECECEC;
  min-height: 100vh;
  height: fit-content;
  padding: 2rem;
  width: 100%;
  max-width: 70rem;
  margin: auto;
}
.product_card {
display: flex;
flex-direction: column;
}
.cards_inner {
    display: flex;
    flex-direction: column;
    text-align: center;
    border: 1px solid var(--main-color);
    border-radius: 3px;
    max-width: 12rem;
    min-width: 12rem;
    max-height: 5rem;
    padding: 1rem;
    cursor: pointer;
}
.card_title {
    font-size: 1.3rem;
    color: var(--secondary-color);
    border-bottom: 1px solid var(--main-color);
    margin-top: 0px;
}
.card_title_flipped {
  font-size: 1rem;
  color: var(--secondary-color);

}
.card_dimensions {
    margin: 0px;
    font-size: 1rem;
    color: var(--secondary-color);
}
.card_dimensions_flipped {
  font-size: 1rem;
  color: var(--secondary-color);
  
}
.hidden {
  display: none;
}

/* CARD STYLING*/
.flip-card {
  background-color: transparent;
  width: 300px;
  height: 300px;
  perspective: 1000px;
  margin: 3rem;
}
.card_image{
	width: 300px;
	height: 300px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.flip-card-front {
  background-color: transparent;
  color: black;
}
.text_card_front {
  background-color: white;
  min-height: 5rem;
  border: 1px solid var(--main-color);
  border-radius: 3px;
  padding: 1rem;
}

.flip-card-back {
  background-color: white;
  color: var(--secondary-color);
  transform: rotateY(180deg);
  min-height: 23rem;
  border: 1px solid var(--main-color);
  border-radius: 3px;
  padding: 1rem;
}
.text_card_back_top {
  border-bottom: solid 1px var(--main-color);
  padding-bottom: 0.8rem;
}
.card_more_info {
  background-color: var(--secondary-color);
  color: white;
  padding: 0.3rem;
  padding-right: 4rem;
  padding-left: 4rem;
}
#cart_button {
  background-color: var(--main-color);
  color: white;
  padding: 0.4rem;
  width: 6rem;
  font-size: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: center;
}
.bottom_card_div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.cart_card {
  color: white;
  margin: auto ;
}
.card_title_flipped {
margin-top: 0.2rem;
font-size: 1.4rem;
}
.product_card_name {
  border-bottom: 1px solid var(--main-color);
  color: var(--secondary-color);
  font-size: 1.4rem;
  margin-top: 1px;
  margin-bottom: 0.8rem;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.product_card_dimensions {
  font-weight: lighter;
}
.product_card_img {
  text-align: left;
}
#cart_button_mobile  {
  display: none;
}
.more_info_mobile {
  display: none;
}
@media (max-width: 700px) {
  .product_layout {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
    height: fit-content;
    width: 100%;
    padding: 0%;
  }
  snipcart-modal__close-icon snipcart__icon {
    z-index: 1000;
  }
  .flip-card {
    background-color: transparent;
    width: 260px;
    height: 400px;
    perspective: 1000px;
    margin: auto;
    margin-bottom: 4rem;
  }
  #cart_button_mobile {
    display: flex;
    justify-content: center;
    width: 100%;
    font-size: 1rem;
    text-align: center;
    border-radius: 3px;
    height: 2rem;
    padding: 0%;
    padding-top: 0.2rem;
    box-shadow: 0px 1px 3px 0px #464646;
  }
  .more_info_mobile {
    display: flex;
    justify-content: center;
    width: 100%;
    text-align: center;
    background-color: var(--secondary-color);
    color: white;
    border-radius: 3px;
    height: 2rem;
    padding: 0%;
    padding-top: 0.2rem;
    box-shadow: 0px 1px 3px 0px #464646;
  }
}