@import './homepage/clubSection.css';
@import './homepage/spillerSection.css';
@import './homepage/navigation.css';

html,
body {
	padding: 0;
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
		Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
	color: inherit;
	text-decoration: none;
}

* {
	
}
:root {
	--secondary-color: #2f4858;
	--main-color: #70bf48;
}
