@import './homepage/clubSection.css';
@import './homepage/spillerSection.css';
@import './homepage/navigation.css';
@import './homepage/banner.css';
@import "./homepage/footer.css";
@import "./contact/contact.css";
@import "./faq/faq.css";
@import "./products/product.css";
@import "./homepage/layout.css";
@import "./products/productId.css";
@import "./login/login.css";
@import "./admin/admin.css";

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&family=Poppins:wght@300&family=Roboto:wght@300&display=swap');

html,
body {
	padding: 0;
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
		Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
		scroll-behavior: smooth;
}

a {
	color: inherit;
	text-decoration: none;
}


h1 {
	font-family: 'Montserrat', sans-serif;
}
h2 {
	font-family: 'Montserrat', sans-serif;
}
:root {
	--secondary-color: #2f4858;
	--main-color: #70bf48;
}
